[Unit]
Description=Redis In-Memory Data Store
After=network.target

[Service]
User=root
Group=root
ExecStart=/usr/local/bin/redis-server /vagrant/server3/c_master.conf
ExecStop=/usr/local/bin/redis-cli -h 172.16.94.13 -p 6381 shutdown
Restart=always

[Install]
WantedBy=multi-user.target
